In [61]:
import numpy as np
import pandas as pd
import random

In [74]:
columns=['X_coor','Y_coor','left']

In [75]:
df=pd.DataFrame(columns=columns)

In [76]:
random.seed(200)
#random.seed(400)

In [77]:
no_of_rows=2000

In [78]:
#left=[True,False]
left=[1,0]

In [79]:
for i in range(no_of_rows):
    temp=[]
    temp.append(random.randint(0,77))
    temp.append(random.randint(20,120))
    temp.append(left[random.randint(0,1)])
    df.loc[i]=temp

In [80]:
df

     X_coor Y_coor left
0        39     91    0
1        11     92    0
2        58     72    0
3        70     52    0
4        57     47    0
...     ...    ...  ...
1995     55     65    1
1996     17    108    0
1997     10     43    1
1998     61     26    1
1999      1     39    0

[2000 rows x 3 columns]

In [81]:
def game(X_coor,Y_coor,left):
    done = False
    grid=np.zeros([80,140],dtype=int)
    grid[:,0]=100
    grid[:,138]=-100
    grid[0,:]=2
    grid[78,:]=2
    grid=np.transpose(grid)
    grid[20,:]=-1
    grid[120,10:22]=1
    grid[Y_coor,X_coor]=5
    pug_x=np.where(grid==5)[1][0]
    pug_y=np.where(grid==5)[0][0]
    pug_top=True
    pug_left=left
    x=np.where(grid==1)[1][0]
    y=np.where(grid==1)[0][0]
    color = (255, 100, 0)
    while not done:
        if(pug_top):
            if(grid[pug_y-1,pug_x]==-1):
                return pug_x
            else:
                grid[pug_y,pug_x]=0
                pug_y-=1
                grid[pug_y,pug_x]=5
        
        if(pug_left):
            if(grid[pug_y,pug_x-1]==2):
                pug_left=False
            else:
                grid[pug_y,pug_x]=0
                pug_x-=1
                grid[pug_y,pug_x]=5
        else:
            if(grid[pug_y,pug_x+1]==2):
                pug_left=True
            else:
                grid[pug_y,pug_x]=0
                pug_x+=1
                grid[pug_y,pug_x]=5

In [82]:
labels=[]
for i in range(no_of_rows):
    labels.append(game(df.iloc[i][0],df.iloc[i][1],df.iloc[i][2]))

In [83]:
df['labels']=labels

In [84]:
df

     X_coor Y_coor left  labels
0        39     91    0      46
1        11     92    0      73
2        58     72    0      46
3        70     52    0      54
4        57     47    0      72
...     ...    ...  ...     ...
1995     55     65    1      11
1996     17    108    0      51
1997     10     43    1      13
1998     61     26    1      56
1999      1     39    0      19

[2000 rows x 4 columns]

In [85]:
df.to_csv(r'Coordinates_2000_2.csv', index = False)